html
  head
    title= script.title
  body
    ul
      li
        a(href="/scripts/new") Write a script
      li
        a(href="/") Dashboard
    h1= script.title
    p!= scriptBodyHTML
    - if (mentioned.length > 0) {
      h2 この記事に言及している記事
      ul
        - for (let index = 0; index < mentioned.length; index++) {
          - const mentionedScript = mentioned[index];
          li
            a(href=`${mentionedScript.url}`)= mentionedScript.title
        - }
    - }
