html
  head
    title= title
  body
    a(href="/scripts/new") Write a script
    h2 Popular
    ul
    - for (let index = 0; index < links.length; index++) {
      - const link = links[index];
      li= link.title
    - }
    h2 Popular in Manuscripts
    ul
    - for (let index = 0; index < scripts.length; index++) {
      - const script = scripts[index];
      li= script.title
    - }
